@media(max-width:950px) {
    html {
        font-size: 55%;
    }

    button {
        display: block;
    }
    #menu {
        position: absolute;
        display: none;
        right: 0%;
        top: 9%;
        width: 20vw;
        z-index: 10;

    }

    #nav.active #menu {
        display: block;
        flex-direction: column;
        background-color: #222;


    }

    #menu li {
        margin: 1.2rem 0rem;

    }
    header div {
        min-width: 250px;
        
    }


}

@media(max-width:768px) {

    html {
        font-size: 50%;
    }
    header div {
        min-width: 220px;
   
    }
    header input::placeholder {
        font-size: 1.3rem;

    }

}

@media (max-width:550px) {

    html {
        font-size: 45%;
    }
    header div {
        min-width: 180px;
        max-height: 30px;
    }


}

@media(max-width:430px) {
    html{
        font-size: 40%;
    }
    header div {
        min-width: 150px;

    }

}